<li>
  <h3><%= link_to trial.title, trial_path(trial) %></h3>
  <p><%= truncate(trial.description, length: 700, separator: " ") %></p>
  <div class="infographic-group">
    <span class="infographic-item icon-human">
      <%= "#{trial.minimum_age_original} - #{trial.maximum_age_original}" %>
    </span>
  </div>

  <% if zip_code_param.present? %>
    <%= render "closest_site", closest_site: trial.closest_site(zip_code_param) %>
  <% end %>

  <div class="form-actions">
    <%= link_to "Learn More", trial_path(trial), class: "more" %>
  </div>
</li>
<hr>
