<%= render "search_filter" %>

<main class="trial-results">
  <% if @trials.empty? %>
    <%= render "empty_results" %>
  <% else %>

    <%= render "trial_count" %>

    <ol class="trial-list">
      <%= render @trials %>
    </ol>

    <%= render "pagination" %>
  <% end %>
</main>
